@inject CPSC481.Classes.StateContainer StateContainer;
@inject NavigationManager NavManager;

<div class="w-full flex flex-col justify-center items-center p-2">
	<div class="w-3/4 flex flex-col h-full p-2 gap-y-4">
		<h3 class="text-2xl font-medium text-black">Favorites</h3>
		<div class="grid gap-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 w-full">
			@if (favorites != null && favorites.Length > 0)
			{
				@foreach (Item a in favorites)
				{
					<ActivityCard id="@a.id" name="@a.name" url="@a.images[0]" rating="@a.rating" price="@a.price"
				category="@a.category" />
				}
			}
			else
			{
				<p class="text-md font-medium text-black">You have no favorites.</p>
			}
		</div>
	</div>
</div>

@code {
	Item[]? favorites = Array.Empty<Item>();
	protected override void OnInitialized()
	{
		if (!StateContainer.isLoggedIn())
		{
			NavManager.NavigateTo("/login?reRoute=favorites");
		}
		favorites = StateContainer.getFavorites();
		StateContainer.OnChange += StateHasChanged;
	}
	public void Dispose()
	{
		StateContainer.OnChange -= StateHasChanged;
	}
}